<!DOCTYPE html>
<html>
<head>
	<title>Lab 6</title>
	<script src="angular.min.js"></script>
	<script src="index.js"></script>
	<link rel="stylesheet" href="index.css">
</head>
<body background="image/bg.jpg" id = "body_design">
	<h3>My Shopping cart</h3>
	<div id="scart" ng-app="myShoppingList" ng-controller="myCtrl">
    <ul>
        <li ng-repeat="x in products">{{x}}
        	<span ng-click="removeItem($index)">&times;</span>
        </li>
    </ul>
    <input ng-model="addMe">
    <button id="add" ng-click="addItem()">Add</button>
    <p>{{errortext}}</p>
</div>
</body>
</html>
